<section id="hero" class="px-16 py-6 bg-neutral-700 flex items-center justify-center">

    <div class="hero-left w-1/2 flex flex-col gap-4">
        <p class="text-red-500 text-2xl">Fastest Delivery & Easy Pickup</p>
        <h1 class="text-6xl font-bold text-yellow-400">Kings Burger</h1>
        <p class="text-white font-light text-md mb-10">Good food starts with good ingridients. We only bring you the best</p>
    </div>
    <div class="hero-rightw w-1/2">
        <div class="hero-right--image-container w-full p-8 bg-red-100 image-clip">
            <img src="../../../public/images/burger.png" alt="" class="w-full">
        </div>

    </div>

</section>
