<!-- src/views/pages/admin/adminPortal.html -->
<div id="admin-dashboard" class="flex">
  <div
    id="sidebar"
    class="bg-yellow-50 w-44 px-3 pt-4 border-r border-1 border-gray-400"
  >
    <!-- Sidebar content here -->
    <nav>
      <ul class="font-light flex flex-col gap-3">
        <li class="sidebar-menu">
          <a href="#/admin/dashboard">Dashboard</a>
        </li>
        <li class="sidebar-menu">
          <a href="#/admin/orders">Orders</a>
        </li>
        <li class="sidebar-menu">
          <a href="#/admin/menu">Menus</a>
        </li>
        <li class="sidebar-menu">
          <a href="#/admin/customers">Customers</a>
        </li>
        <li class="sidebar-menu">
          <a href="#/admin/analytics">Analytics</a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="main-content" class="sw-full p-4 h-[calc(100vh-80px)] w-full">
    This is the main content
    <!-- Main content will be dynamically loaded here -->
  </div>
</div>
