<header class="header flex justify-between items-center">
  <div class="header-title">
    <a href="#/" class="flex items-center gap-4 "
      ><img src="/images/logo.svg" alt="logo" />
      <p>tastytap</p>
    </a>
  </div>
  <div class="flex space-x-4">
    <a
      href="#/login"
      class="header-link"
      >Login</a
    >

    <a
      href="#/menu"
      class="header-link"
      >Menu</a
    >

    <a
      href="#/cart"
      class="header-link  relative"
      ><i class="fas fa-shopping-cart"></i>
      
    <div id="cart-count" class=" absolute rounded-full items-center justify-center p-3 w-4 h-4 bg-red-500 text-white text-xs top-[-10px] right-[-10px] hidden">0</div>
    </a>

    <a
      href="#/signup"
      class="header-link"
      >Sign Up</a`
    >
    <a
      href="#/admin/dashboard"
      class="header-link"
      >Dashboard</a
    >

    <a
      href="#/user/me"
      class="header-link"
    >
      Profile
    </a>
  </div>
</header>
