<header class="header flex justify-between items-center">
  <div class="header-title">
    <a href="#/" class="flex items-center gap-4 "
      ><img src="/images/logo.svg" alt="logo" />
      <p>tastytap</p>
    </a>
  </div>
  <div class="flex space-x-4">
    <a
      href="#/login"
      class="text-white text-lg bg-orange-500 flex items-center px-7 py-3 rounded-tl-lg rounded-br-lg hover:rounded-tr-2xl hover:rounded-bl-2xl font-medium transition-all duration-300"
      >Login</a
    >
    <a
      href="#/signup"
      class="text-white bg-green-500 hover:bg-green-700 px-4 py-2 rounded transition duration-300"
      >Sign Up</a`
    >
    <a
      href="#/admin/dashboard"
      class="text-white bg-green-500 hover:bg-green-700 px-4 py-2 rounded transition duration-300"
      >Dashboard</a
    >

    <a
      href="#/user/me"
      class="text-white bg-green-500 hover:bg-green-700 px-4 py-2 rounded transition duration-300"
    >
      Profile
    </a>
  </div>
</header>
